<div class="row my-4">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 d-flex gap-2">
          <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
          <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name" #name>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-fluid" [src]="imagePath.value" [alt]="name.value">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" name="image" id="image" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="3" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row my-1" [formGroupName]="i" *ngFor="let ingredientCtrl of controls; let i = index">
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-2">
              <input type="number" name="" class="form-control" formControlName="amount">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
